<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{% block title %}CATABLOG{% endblock %}</title>

  <!-- Favicon -->
  {% load static %}
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="d-flex flex-column min-vh-100">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-secondary navbar-light bg-secondary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Welcome to CATABLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-link" href="{% url 'register' %}">Register</a>
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container flex-grow-1 my-4">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3 mt-auto">
      <div class="container">
        <p>Follow us on:</p>
        <a href="https://facebook.com" target="_blank" class="mx-2 text-light">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="mx-2 text-light">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="mx-2 text-light">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </div>
    </footer>
  </div>

  <!-- Optional JavaScript -->
  <!-- Font Awesome for icons -->
  <script src="https://kit.fontawesome.com/6f464bbc42.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>
